@use "sass:color";

$light_mode: true;
$background: #dee1e6;
$solid-bg: #dee1e6;
$foreground: #2e2c2f;
$black: #c5c8cd;
$red: #BA5860;
$green: #728B79;
$yellow: #CCAA6C;
$blue: #5292C6;
$magenta: #8C6AA8;
$cyan: #489CA5;
$white: #101419;
$light_black: #989ba0;
$light_red: #9d4b53;
$light_green: #59795f;
$light_yellow: #a78a58;
$light_blue: #40739a;
$light_magenta: #715688;
$light_cyan: #3b8187;
$light_white: #1f2328;
$general-opacity: 1;
$contrast1: rgba(#000000, 0.05);
$contrast2: rgba(#000000, 0.1);
$contrastfg: rgba(#000000, 0.35);
$font-regular: Inter;
$font-icons: Phosphor;
$font-nf: JetBrainsMono Nerd Font;
$accent: $light_cyan;
$accent2: $light_cyan;
$tinted-white: color.mix($accent, $black, 50%);
$tinted-white-2: color.mix($accent, $black, 75%);
