@use "sass:color";

$light_mode: false;
$background: #0a0a0a;
$solid-bg: #0a0a0a;
$foreground: #cdcdcd;
$black: #242424;
$red: #f5a191;
$green: #90b99f;
$yellow: #e6b99d;
$blue: #aca1cf;
$magenta: #e29eca;
$cyan: #ea83a5;
$white: #c1c0d4;
$light_black: #424242;
$light_red: #ffae9f;
$light_green: #9dc6ac;
$light_yellow: #f0c5a9;
$light_blue: #b9aeda;
$light_magenta: #ecaad6;
$light_cyan: #f591b2;
$light_white: #cac9dd;
$general-opacity: 1;
$contrast1: rgba(#ffffff, 0.05);
$contrast2: rgba(#ffffff, 0.1);
$contrast3: rgba(#ffffff, 0.15);
$contrastfg: rgba(#ffffff, 0.35);
$font-regular: Inter;
$font-icons: Phosphor;
$font-nf: JetBrainsMono Nerd Font;
$accent: $light_blue;
$accent2: $light_cyan;
$tinted-white: color.mix($accent, $white, 50%);
$tinted-white-2: color.mix($accent, $white, 75%);
