@use "sass:color";
@use '../../utils.scss';
@use "../../theme.scss" as *;

window.NotificationsPopup {
  background: transparent;
  font-family: $font-regular;
  font-weight: 500;

  box.Container {
    color: $foreground;

    label.Placeholder {
      color: transparent;
    }

    .NotificationItem {
      background-color: $solid-bg;
      border: solid 1px utils.adjust-color($color: $solid-bg, $lightness: 7%);
      border-radius: 12px;

      .Header {
        background-color: $contrast1;
        padding: 6px 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        label {
          font-size: 15px;
          font-weight: bold;
        }

        .DismissButton {
          background-color: $contrast1;
          border-radius: 100px;
          color: $red;
          transition: all ease .2s;
          padding: 4px;
          &:hover { background-color: rgba($red, 0.15); }

          label {
            font-size: 14px;
            font-family: $font-icons;
            font-weight: bold;
          }
        }
      }

      .Content {
        padding: 12px;

        .FallbackIcon {
          font-family: $font-icons;
          font-size: 24px;
          font-weight: bolder;
          background: linear-gradient(to bottom right, $background, utils.adjust-color($background, $lightness: 8%));
          color: $tinted-white;
          border: solid 2px $black;
          border-radius: 100px;
        }

        .IconsContainer {
          .NotifImage {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 100px;
            border: solid 2px transparent;
            &.GoodBorder { border-color: $accent; }
            &.SubtleBorder { border-color: $black; }
          }

          .InhomeIcon {
            font-family: $font-icons;
            font-size: 14px;
            font-weight: bold;
            padding: 4px;
            background-color: $accent;
            color: $background;
            border-radius: 100px;
            &.spotify {
              font-family: $font-nf;
              font-size: 14px;
              padding: 1px 6.5px 0px 3.5px;
            }
            &.discord, &.vesktop {
              font-family: $font-nf;
              font-size: 13px;
              padding: 1px 8.45px 0px 3.5px;
            }
          }
        }

        .NotifInfo {
          .Summary {
            font-size: 14px;
            font-weight: bolder;
          }

          .Body { font-size: 11px; }
        }

        .ActionsBox button {
          $radius: 7px;

          background-color: $contrast1;
          padding: 4px 0px;
          transition: all ease .2s;
          font-size: 12px;

          &:hover {
            background-color: $contrast2;
          }

          &.Only { border-radius: $radius; }

          &.First {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
          }

          &.End {
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
          }
        }
      }
    }
  }
}
