@use "sass:color";
@use "../../../../theme.scss" as *;

.BodyContainer .BluetoothConfigView {
  font-family: $font-regular;

  .Header {
    background-color: $contrast1;
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    @if $light_mode {
      border-bottom: solid 1px $contrast2;
    }

    .GoBack {
      font-family: $font-icons;
      font-size: 16px;
      font-weight: 500;
      border-radius: 100px;
      padding: 6px;
      padding-left: 7px;
      transition: all ease .2s;
      &:hover { background-color: $contrast1; }
    }
  }

  .Content {
    padding: 12px;

    .Title {
      font-weight: 500;
      font-size: 16px;
    }

    .DeviceItem {
      padding: 12px 16px;
      border-radius: 12px;
      transition: all ease .2s;

      &:hover { background-color: $contrast1; }

      &.Active {
        background-color: $contrast1;
        &:hover { background-color: $contrast2; }
      }

      .DeviceName {
        font-family: $font-regular;
        font-size: 16px;
        font-weight: 500;
      }

      .DeviceStatus {
        font-size: 12px;
        font-weight: normal;
        color: $light_black;
      }

      .BatteryPercentage {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
}
