@use 'sass:color';
@use '../../theme.scss' as *;

window.OSD {
  color: $foreground;
  font-family: $font-regular;
  font-weight: 500;

  box.OSD {
    background: color.mix($background, $solid-bg, 50%);  // more darker than usual
    border-radius: 100px;
    padding: 13px 16px;

    &.Hidden { background: transparent; }

    label {
      font-size: 12px;
    }

    levelbar {
      block {
        min-height: 4px;
        margin: 0px 12px;
        background: $contrast1;
        border-radius: 100px;
        &.filled {
          background-color: $tinted-white;
        }
      }
    }
  }
}
