@use 'sass:color';
@use '../../utils.scss';
@use '../../theme.scss' as *;

.MusicPlayerContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  padding: 14px;

  @if $light_mode {
    color: $background;
  }

  &.Disabled {
    background: linear-gradient(to right, rgba($tinted-white-2, 0.05), rgba($tinted-white-2, 0.125));
    @if $light_mode {
      background: linear-gradient(to right, $contrast2, $contrast1);
      .Title { color: $foreground; }
      .PreviousControl, .NextControl { color: $foreground; }
    }
  }

  .PlayingFromChip {
    $fg: $green;
    $bg: rgba($green, 0.25);

    background-color: $bg;
    color: $fg;
    border-radius: 100px;
    padding: 2px 12px;

    .Contents { font-size: 12px; }

    .Icon {
      font-size: 18px;
      font-family: $font-nf;
    }
  }

  .ControlsContainer {
    .Information {
      .Title {
        font-size: 20px;
        font-weight: bold;
      }

      .Artist {
        font-size: 13px;
        color: $contrast2;
        @if $light_mode { color: $light_black; }
      }

      .PlayPauseButton {
        font-family: $font-icons;
        font-size: 20px;
        border-radius: 17px;
        padding: 12px 13px 12px 11px;
        transition-property: background-color, border-radius;
        transition-duration: .25s;
        transition-timing-function: ease;

        background-color: $white;
        color: $black;

        @if $light_mode {
          background-color: $black;
          color: $white;
        }

        &.Playing {
          padding: 12px;
          border-radius: 12px;
        }

        &:hover {
          background-color: utils.adjust-color($color: $tinted-white, $lightness: -10%);
        }
      }
    }

    .Controls {
      & scale trough {
        all: unset;
        min-height: 4px;
        min-width: 170px;
        border-radius: 100px;
        background-color: $contrast2;
        @if $light_mode { background-color: utils.adjust-color($light_black, $lightness: 10%); }

        & highlight {
          all: unset;
          border-radius: 100px;
          background-color: $white;
          @if $light_mode { background-color: $black; }
        }
      }

      button {
        border-radius: 100px;
        padding: 5px;
        transition: all ease .2s;
        font-family: $font-icons;
        font-size: 14px;
        font-weight: bold;

        &:hover {
          background: $contrast1;
        }
      }
    }
  }
}

.MusicPlayerSkeleton {
  background: linear-gradient(to right, #101010, #242424);
  border-radius: 7px;
}
