@use 'sass:color';
@use '../../theme.scss' as *;

window.Dashboard {
  background: transparent;
  color: $foreground;
  font-family: $font-regular;
  font-size: 14px;
  font-weight: 500;

  .MainContent {
    background: rgba($background, $general-opacity);
    border-radius: 10px;
    border: solid 0px transparent;

    .Left, .Right { padding: 14px; }

    .Separator {
      background-color: $contrast1;
    }

    .Left {
      .Clock {
        .Time {
          font-size: 60px;
          font-weight: 300;
        }

        .Day {
          color: $light_black;
          font-size: 12px;
        }
      }

      .UserContainer {
        background-color: $contrast1;
        padding: 10px 12px;
        border-radius: 12px;
        margin-top: 12px;

        .ContentInformation {
          .ImageContainer {
            .UserPfp {
              border-radius: 100px;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }

            .UserPfpFallback {
              background: $background;
              color: $foreground;
              border-radius: 100px;
              font-size: 32px;
              font-family: $font-icons;
            }

            .ContentOverlay {
              padding: 4px;
              border-radius: 100px;
              background-color: $foreground;
              color: $background;
              font-size: 12px;
              font-family: $font-icons;
            }
          }

          .ContentContainer {
            .Whoami {
              font-size: 18px;
              font-weight: 600;
            }

            .Uptime {
              font-size: 11px;
            }
          }
        }

        .SystemActionButtons button.SystemActionButton {
          background-color: $contrast1;
          padding: 7px;
          border-radius: 10px;
          font-size: 18px;
          font-family: $font-icons;
          transition: all ease .2s;

          &.LockButton {
            color: $blue;
            &:hover { background-color: rgba($blue, 0.15); }
          }

          &.PoweroffButton {
            color: $red;
            &:hover { background-color: rgba($red, 0.15); }
          }
        }
      }

      .SlidersContainer {
        background-color: $contrast1;
        padding: 10px 12px;
        border-radius: 12px;
        margin-top: 12px;

        label.Title {
          color: color.adjust($light_black, $lightness: 25%);
          font-size: 12px;
        }

        .SliderContainer {
          label { font-size: 10px; }
          &.Disabled label { color: $light_black; }

          & scale trough {
            all: unset;
            background-color: $contrast2;
            min-height: 4px;
            min-width: 170px;
            border-radius: 100px;

            & highlight {
              all: unset;
              border-radius: 100px;
              background-color: $white;
            }
          }
        }
      }

      .MusicPlayerContainer {
        margin-top: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
        padding: 12px;

        &.Disabled {
          background: linear-gradient(to right, rgba($white, 0.05), rgba($white, 0.125));
        }

        .PlayingFromChip {
          $fg: $green;
          $bg: rgba($green, 0.25);

          background-color: $bg;
          color: $fg;
          border-radius: 100px;
          padding: 2px 12px;

          .Contents { font-size: 12px; }

          .Icon {
            font-size: 18px;
            font-family: $font-nf;
          }
        }

        .ControlsContainer {
          .Information {
            .Title {
              font-size: 16px;
              font-weight: bold;
            }

            .Artist {
              font-size: 12px;
              color: $contrast2;
            }

            .PlayPauseButton {
              font-family: $font-icons;
              font-size: 18px;
              border-radius: 100px;
              padding: 10px 11px 10px 9px;
              background-color: $white;
              color: $black;
              transition-property: background-color;
              transition-duration: .25s;
              transition-timing-function: ease;

              &.Playing {
                padding: 10px;
              }

              &:hover {
                background-color: color.adjust($color: $white, $lightness: -10%);
              }
            }
          }

          .Controls {
            & scale trough {
              all: unset;
              background-color: $contrast2;
              min-height: 4px;
              min-width: 170px;
              border-radius: 100px;

              & highlight {
                all: unset;
                border-radius: 100px;
                background-color: $white;
              }
            }

            button {
              border-radius: 100px;
              padding: 5px;
              transition: all ease .2s;
              font-family: $font-icons;
              font-size: 14px;
              font-weight: bold;

              &:hover {
                background: $contrast1;
              }
            }
          }
        }
      }

      .MusicPlayerSkeleton {
        background: linear-gradient(to right, #101010, #242424);
        border-radius: 7px;
        margin-top: 12px;
      }
    }

    .Right {
      .Header label {
        font-family: $font-regular;
        font-size: 28px;
        font-weight: bold;
      }

      .Content {
        padding: 12px 0px;

        // TODO: Remove
        label {
          font-size: 13px;
          font-weight: 500;
        }

        .NotificationItem {
          background-color: $contrast1;
          border-radius: 12px;

          .Header {
            background-color: $contrast1;
            padding: 6px 12px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;

            label {
              font-size: 15px;
              font-weight: bold;
            }

            .DismissButton {
              background-color: $contrast1;
              border-radius: 100px;
              color: $red;
              transition: all ease .2s;
              padding: 4px;
              &:hover { background-color: rgba($red, 0.15); }

              label {
                font-size: 14px;
                font-family: $font-icons;
                font-weight: bold;
              }
            }
          }

          .Content {
            padding: 12px;

            .FallbackIcon {
              font-family: $font-icons;
              font-size: 24px;
              font-weight: bolder;
              background: linear-gradient(to bottom right, $background, color.adjust($background, $lightness: 8%));
              color: $white;
              border: solid 2px $black;
              border-radius: 100px;
            }

            .IconsContainer {
              .NotifImage {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 100px;
                border: solid 2px transparent;
                &.GoodBorder { border-color: $accent; }
                &.SubtleBorder { border-color: $black; }
              }

              .InhomeIcon {
                font-family: $font-icons;
                font-size: 14px;
                font-weight: bold;
                padding: 4px;
                background-color: $accent;
                color: $background;
                border-radius: 100px;
                &.spotify {
                  font-family: $font-nf;
                  font-size: 14px;
                  padding: 1px 6.5px 0px 3.5px;
                }
                &.discord, &.vesktop {
                  font-family: $font-nf;
                  font-size: 13px;
                  padding: 1px 8.45px 0px 3.5px;
                }
              }
            }

            .NotifInfo {
              .Summary {
                font-size: 14px;
                font-weight: bolder;
              }

              .Body { font-size: 11px; }
            }

            .ActionsBox button {
              $radius: 7px;
              background-color: $contrast1;
              padding: 4px 0px;
              transition: all ease .2s;

              &:hover {
                background-color: $contrast2;
              }

              &.Only { border-radius: $radius; }

              &.First {
                border-top-left-radius: $radius;
                border-bottom-left-radius: $radius;
              }

              &.End {
                border-top-right-radius: $radius;
                border-bottom-right-radius: $radius;
              }
            }
          }
        }
      }

      .Footer button.ClearAllButton {
        background-color: $contrast1;
        border-radius: 10px;
        padding: 7px 10px;
        font-size: 12px;
        transition: all ease .2s;
        &:hover { background-color: $contrast2; }
      }
    }
  }
}
