@use "../../utils.scss";
@use "../../theme.scss" as *;

.SlidersContainer {
  background-color: $contrast1;
  padding: 16px;
  border-radius: 12px;

  label.Title {
    color: utils.adjust-color($light_black, $lightness: 25%);
    font-size: 14px;
  }

  .SliderContainer {
    label {
      font-size: 12px;
    }

    &.Disabled label {
      color: $contrastfg;
    }

    & scale trough {
      all: unset;
      background-color: $contrast2;
      min-height: 4px;
      min-width: 170px;
      border-radius: 100px;

      & highlight {
        all: unset;
        border-radius: 100px;
        background-color: $tinted-white;
      }
    }
  }
}

@define-color ags-cprgs-trough-color #{$black};
@define-color ags-cprgs-default-active-color #{$tinted-white};
@define-color ags-cprgs-cpu-active-color #{$light_yellow};
@define-color ags-cprgs-ram-active-color #{$light_magenta};

.CircularProgress {
  padding: 0;
  margin: 0;
}
