@use '../../theme.scss' as *;
@use "./views/views/main.scss" as mainView;
@use "./views/views/bluetooth-config.scss" as bluetoothConfig;

window.ControlCenter {
  background: transparent;
  color: $foreground;
  font-family: $font-regular;
  font-size: 14px;
  font-weight: 500;

  .Container {
    background: rgba($background, $general-opacity);
    border-radius: 12px;
    border: solid $contrast1 1px;
  }
}
